[submodule "gpo-checker"]
    path = gpo-checker
    url = https://github.com/tfslabs/gpo-checker
[submodule "hyperv-passthrough"]
    path = hyperv-passthrough
    url = https://github.com/tfslabs/hyperv-passthrough
[submodule "port-scanner"]
    path = port-scanner
    url = https://github.com/tfslabs/port-scanner
[submodule "PortProxyGUI"]
    path = PortProxyGUI
    url = https://github.com/tfslabs/PortProxyGUI
[submodule "license-manager"]
    path = vlmcsd-repos/license-manager
    url = https://github.com/tfslabs/license-manager
[submodule "vlmcsd-db"]
    path = vlmcsd-repos/vlmcsd-db
    url = https://github.com/tfslabs/vlmcsd-db
[submodule "vlmcsd-quick-deployments"]
    path = vlmcsd-repos/vlmcsd-quick-deployments
    url = https://github.com/tfslabs/vlmcsd-quick-deployments
[submodule "vlmcsd"]
    path = vlmcsd-repos/vlmcsd
    url = https://github.com/tfslabs/vlmcsd
