/.vs
*.vs
/!bin!
*.csproj*
*.sln
*.suo
*.vcsproj
*.cache
*.exe
*.compressed
*.pdb
*.CopyComplete
*.dll
*.pfx

gpo-checker/.vs
gpo-checker/obj

hyperv-passthrough/.vs
hyperv-passthrough/obj

port-scanner/.vs
port-scanner/obj

vlmcsd-beta/license-manager/.vs
vlmcsd-beta/license-manager/obj

vlmcsd-beta/vlmcsd/buildroot-configs
vlmcsd-beta/vlmcsd/hotbird64-mass-build
vlmcsd-beta/vlmcsd/src/GNUmakefile
vlmcsd-beta/vlmcsd/VisualStudio
vlmcsd-beta/vlmcsd-floppy/vlmcsd-floppy-content/mkinitrd.guide

vlmcsd-beta/vlmcsd/bin/vlmcs
vlmcsd-beta/vlmcsd/bin/vlmcsd

*.o