# Ignore changes globally
/.vs
*.vs
/!bin!
*.csproj
*.sln
*.suo
*.vcsproj
*.cache
*.exe
*.compressed
*.pdb
*.CopyComplete
*.dll
/!pub!

# Ignore changes in check-iis
/check-iis/.vs
/check-iis/obj/
/check-iis/check-iis/obj
/check-iis/check-iis/bin
check-iis/check_iis.sln
check-iis/check_iis/obj/Debug/check_iis.csproj.FileListAbsolute.txt

# Ignore changes in gpo-checker
gpo-checker/.vs
gpo-checker/obj
gpo-checker/GPOChecker.csproj
gpo-checker/GPOChecker.sln

# Ignore changes in hyperv-passthrough
hyperv-passthrough/.vs
hyperv-passthrough/obj
hyperv-passthrough/hypervpassth.csproj
hyperv-passthrough/hypervpassth.sln

# Ignore changes in nvidia-driver-cleaner
nvidia-driver-cleaner/.vs
nvidia-driver-cleaner/obj
nvidia-driver-cleaner/NvidiaCleaner.csproj
nvidia-driver-cleaner/NvidiaCleaner.sln
nvidia-driver-cleaner/NvidiaCleaner.csproj.user

# Ignore changes in PDB-Downloader
PDB-Downloader/PDB-Downloader.csproj
PDB-Downloader/.vs
PDB-Downloader/obj
PDB-Downloader/PDB-Downloader.sln

# Ignore changes in port-scanner
port-scanner/.vs
port-scanner/obj
port-scanner/PortScanner.csproj
port-scanner/PortScanner.sln

# Ignore changes in remote-msi-manager
remote-msi-manager/.vs
remote-msi-manager/obj
remote-msi-manager/RemoteMsiManager.suo
remote-msi-manager/RemoteMsiManager.v12.suo
remote-msi-manager/RemoteMsiManager.sln
/remote-msi-manager/RemoteMsiManager/obj/

# Ignore changes in vlmcsd-beta
vlmcsd-beta/license-manager/.vs
vlmcsd-beta/license-manager/obj
vlmcsd-beta/license-manager/LicenseManager.sln
vlmcsd-beta/license-manager/LicenseManager.sln.DotSettings

vlmcsd-beta/vlmcsd/buildroot-configs
vlmcsd-beta/vlmcsd/hotbird64-mass-build
vlmcsd-beta/vlmcsd/src/*.vcsproj
vlmcsd-beta/vlmcsd/src/*.vcsproj.user
vlmcsd-beta/vlmcsd/src/*.vcsproj.filters
vlmcsd-beta/vlmcsd/src/GNUmakefile
vlmcsd-beta/vlmcsd/VisualStudio

vlmcsd-beta/vlmcsd-floppy/vlmcsd-floppy-content/mkinitrd.guide

# Auto add by editor
gpo-checker/GPOChecker.csproj
gpo-checker/GPOChecker.sln
hyperv-passthrough/hypervpassth.csproj
hyperv-passthrough/hypervpassth.csproj.user
hyperv-passthrough/hypervpassth.sln
nvidia-driver-cleaner/NvidiaCleaner.csproj
nvidia-driver-cleaner/NvidiaCleaner.sln
PDB-Downloader/PDB-Downloader.csproj
PDB-Downloader/PDB-Downloader.sln
port-scanner/PortScanner.csproj
port-scanner/PortScanner.sln
remote-msi-manager/UnitTest/obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
remote-msi-manager/UnitTest/obj/x64/Release/build.force
remote-msi-manager/UnitTest/obj/x86/Release/build.force
vlmcsd-beta/database-config/sql/getcontent.msmetadata
*.o
vlmcsd-beta/vlmcsd/bin/vlmcs
vlmcsd-beta/vlmcsd/bin/vlmcsd
