################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LicenseManager/bin/Debug
/LicenseManager/obj/Debug
/LicenseManager/bin
/LicenseManager/obj
/.vs
/Distribution/Output/LicenseManager-Installer.exe
/Distribution/Output/LicenseManager-Installer.exe
/Distribution/LicenseManager-Installer.exe
