<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="17.0">
  <Rules AnalyzerId="Meziantou.Analyzer" RuleNamespace="Meziantou.Analyzer">
    <Rule Id="MA0003" Action="None" />
    <Rule Id="MA0007" Action="None" />
    <Rule Id="MA0015" Action="None" />
    <Rule Id="MA0051" Action="None" />
    <Rule Id="MA0110" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0058" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1848" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1014" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1312" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>