<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chains" version="1.0.0.3" targetFramework="net35" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net35" />
  <package id="Services.Communication" version="1.0.0.3" targetFramework="net35" />
  <package id="Services.Management" version="1.0.0.3" targetFramework="net35" />
</packages>