<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="AsyncWrapper" name="file" overflowAction="Discard" queueLimit="50000">
			<target name="FileTarget"
			xsi:type="File"
			fileName="DeploymentToolkit-${date:format=yyyy-MM-dd}.log"
			layout="[${date:format=HH\:mm\:ss.fff}] [${threadid}] [${level:padding=5}] [${callsite}] ${message} ${exception:format=toString}" />
		</target>

		<target name="ConsoleTarget"
			xsi:type="ColoredConsole"
			layout="${date:format=HH\:mm\:ss.fff} | ${level:padding=5} | ${callsite} | ${message} ${exception:format=toString}"
			detectConsoleAvailable="true"
		/>

		<!-- Uncomment for tracing to log4view -->
		<!--
		<target xsi:type="AsyncWrapper" name="remote" overflowAction="Discard" queueLimit="50000">
			<target name="remoteUDP" xsi:type="NLogViewer" address="udp://127.0.0.1:878" />
		</target>
		-->
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="FileTarget" />
		<logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />

		<!-- Uncomment for tracing to log4view -->
		<!-- <logger name="*" minlevel="Trace" writeTo="remote" /> -->
	</rules>
</nlog>
